<div id="PasswordDialog" class="easyui-dialog" title="修改密码" data-options="closed:true,modal:true,buttons:'#PasswordDialog-buttons'" style="width: 320px; height: auto; padding: 10px 15px;">
    <table id="CTable">
        <tr>
            <td height="40">旧密码：</td>
            <td>
                <input type="password" id="oldPwd" name="oldPwd" class="input" />
            </td>
        </tr>
        <tr>
            <td height="40">新密码：</td>
            <td>
                <input type="password" id="newPwd" name="newPwd" class="input" value=""/>
            </td>
        </tr>
        <tr>
            <td height="40">新密码确认：</td>
            <td>
                <input type="password" id="confirmPwd" name="confirmPwd" class="input"/><font style="color:red;font-size:12px;" id="tipmsg"></font>
            </td>
        </tr>
    </table>
</div>
<div id="PasswordDialog-buttons" style=" text-align:center; padding:10px 0px;">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-sys-ok" onclick="changePwd()">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-sys-cancel" onclick="$('#PasswordDialog').dialog('close')">取消</a>
</div>
