<link href="/Content/css/ticket.css" rel="stylesheet" type="text/css"/>
<div id="AddRoleDialog" class="easyui-dialog" title="新增角色" data-options="closed:true,modal:true,buttons:'#AddRoleDialog-buttons'"
      style="width: 500px; height: 450px; padding: 20px 0 0 20px;">
    <input type="hidden" id="AuthNodes" data-bind="value: $root.editForm.AuthNodes" />
    <table width="100%" class="m_yuan">
        <colgroup>
            <col width="80" />
            <col align="left" />
        </colgroup>
        <tr>
            <td>角色名称：</td>
            <td>
                <input type="text" id="Code" name="Code" class="input" data-bind="value: $root.editForm.RoleName, visible: $root.action() == 'add'" maxlength="20" />
                <span  data-bind="text: $root.editForm.RoleName, visible: $root.action() == 'edit'">&nbsp;</span>
            </td>
        </tr>
        <tr>
            <td>描述：</td>
            <td>
                <input type="text" id="Name" name="Name" class="input" data-bind="value: $root.editForm.Description" maxlength="30"  />
            </td>
        </tr>
    </table>
    <ul id="authGrid" class="easyui-tree m_terr" data-options="url: '/Businessman/GetJsonDate',animate:true,checkbox: true"></ul>
</div>
<div id="AddRoleDialog-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-sys-ok" data-bind="click: $root.addClick">保存</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-sys-cancel" onclick="$('#AddRoleDialog').dialog('close')">取消</a>
</div>
