@{
    ViewBag.Title = "编辑供应商";
}

@{
    ViewBag.Title = "运营商详细信息";
}
<div id="BCenter">
    <div class="filterbg">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td width="117" class="tdtitle td_noboder">
                    <h3>商户信息</h3>
                </td>
                <td width="49" class="td_noboder fontcolor4">商户号:</td>
                <td width="196" class="td_noboder">
                    <input type="text" class="inputStyle" data-bind="value:Model.Code" />
                </td>
                <td width="59" class="td_noboder fontcolor4">商户名称:</td>
                <td width="207" class="td_noboder">
                    <input type="text" class="inputStyle" data-bind="value: Model.Name" />
                </td>
                <td width="63" class="td_noboder fontcolor4">本地费率:</td>
                <td class="td_noboder">
                    <input type="text" class="inputStyle" data-bind="value:Model.SupRate" maxlength="5" />
                </td>
                <td width="63" class="td_noboder fontcolor4">异地费率:</td>
                <td class="td_noboder">
                    <input type="text" class="inputStyle" data-bind="value:Model.SupRemoteRate" maxlength="5" />
                </td>
                <td class="td_noboder"></td>
            </tr>
        </table>
    </div>
    <div class="tableShow">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bussine">
            <tr>
                <td width="125" height="40" class="tdtitle td_noboder">
                    <h3>基本信息</h3>
                </td>
                <td width="52" height="40" class="fontcolor4">联系人:</td>
                <td width="210" height="40">
                    <input type="text" name="textfield" class="inputStyle" data-bind="value: Model.ContactWay.Contact" />
                </td>
                <td width="58" height="40" class="fontcolor4">联系电话:</td>
                <td width="223" height="40">
                    <input type="text" name="textfield2" class="inputStyle" data-bind="value: Model.ContactWay.Tel" /></td>
                <td width="56" height="40" class="fontcolor4">联系地址:</td>
                <td height="40">
                    <select data-bind="options: Province, optionsText: 'loca', value: selectedProvince, optionsCaption: '请选择...'"></select>
                    <select data-bind="options: City, value: Model.ContactWay.City, optionsCaption: '请选择...'"></select>
                    <input type="text" name="textfield3" class="inputStyle" data-bind="value: Model.ContactWay.Address" />
                </td>
            </tr>
            <tr>
                <td width="125" height="40" class="tdtitle td_noboder"></td>
                <td width="52" height="40" class="fontcolor4">客户经理:</td>
                <td width="210" height="40">
                    <input type="text" name="textfield" class="inputStyle" data-bind="value: Model.ContactName" />
                </td>
                <td width="58" height="40" class="fontcolor4">客户经理电话:</td>
                <td width="223" height="40">
                    <input type="text" name="textfield2" class="inputStyle" data-bind="value: Model.Phone" /></td>
                <td width="56" height="40" class="fontcolor4"></td>
                <td height="40"></td>
            </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bussine bussine2">
            <tr>
                <td width="125" height="40" class="tdtitle td_noboder">
                    <h3>上下班时间设置</h3>
                </td>
                <td height="40" colspan="2" class="fontcolor4"><strong>工作日上下班时间</strong></td>
            </tr>
            <!-- ko template:{name:'Time',data:Model.NormalWork} -->
            <!-- /ko -->
            <tr>
                <td height="40" class="tdtitle td_noboder"></td>
                <td height="40" colspan="2" class="fontcolor4"><strong>周末上下班时间</strong></td>
            </tr>
            <!-- ko template:{name:'Time',data:Model.RestWork} -->
            <!-- /ko -->
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bussine bussine2">
            <tr>
                <td width="125" height="40" class="tdtitle td_noboder">
                    <h3>配置设置</h3>
                </td>
                <td height="40" class="fontcolor4"><a href="#" class="add_a" data-bind=" click: AddPid">添加设置</a></td>
            </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bussine" data-bind="foreach: Model.Pids">
            <tr>
                <td width="125" height="40" class="tdtitle td_noboder">
                    <h3>&nbsp;</h3>
                </td>
                <td width="57" height="40" class="fontcolor4">IP:</td>
                <td width="208" height="40">
                    <input type="text" name="textfield" id="textfield" class="inputStyle" data-bind="value: IP" />
                </td>
                <td width="41" height="40" class="fontcolor4">端口:</td>
                <td width="204" height="40">
                    <input type="text" name="textfield2" id="textfield2" class="inputStyle" data-bind="value: Port " /></td>
                <td width="55" height="40" class="fontcolor4">Office号:</td>
                <td width="152" height="40">
                    <input type="text" name="textfield3" id="textfield3" class="inputStyle" data-bind="value: Office" /></td>
                <td><a href="#" class="detelbtn" data-bind=" click: $parent.RemovePid">删除</a></td>
            </tr>
        </table>

        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bussine bussine2">
            <tr>
                <td width="125" height="40" class="tdtitle td_noboder">
                    <h3>航空公司使用Office</h3>
                </td>
                <td height="40" class="fontcolor4"><a href="#" class="add_a" data-bind=" click: AddCarrierSettings">添加</a></td>
            </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bussine" data-bind="foreach: Model.CarrierSettings">
            <tr>
                <td width="125" height="40" class="tdtitle td_noboder">
                    <h3>&nbsp;</h3>
                </td>
                <td width="57" height="40" class="fontcolor4">航空公司:</td>
                <td width="158" height="40">
                    <select data-bind="options: $root.AllAirCode, optionsValue: 'Value', optionsText: 'Text', value: CarrayCode"></select>
                </td>
                <td width="100" height="40" class="fontcolor4">预定编码Office:</td>
                <td width="154" height="40">
                    <input type="text" name="textfield2" id="textfield2" class="inputStyle" data-bind="value: YDOffice" /></td>

                <td width="70" height="40" class="fontcolor4">出票Office:</td>
                <td width="152" height="40">
                    <input type="text" name="textfield3" id="textfield3" class="inputStyle" data-bind="value: CPOffice" /></td>
                <td width="55" height="40" class="fontcolor4">打票机号:</td>
                <td width="152" height="40">
                    <input type="text" name="textfield3" id="textfield3" class="inputStyle" data-bind="value: PrintNo" /></td>
                <td><a href="#" class="detelbtn" data-bind="click: $parent.RemoveCarrierSettings">删除</a></td>
            </tr>
        </table>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="bussine bussine3">
            <tr>
                <td width="125" height="40" class="tdtitle td_noboder">
                    <h3>&nbsp;</h3>
                </td>
                <td height="40" class="fontcolor4">
                    <a href="#" class="easyui-linkbutton" data-options="toggle:true,group:'g1'" data-bind="click: Save">保存</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<script type="text/html" id="Time">
    <tr>
        <td width="126" height="40" class="tdtitle td_noboder">
            <h3>&nbsp;</h3>
        </td>
        <td width="80" height="40" class="fontcolor4">星期设置:</td>
        <td height="40">
            <table width="600" class="fuxuan">
                <tr>
                    <td width="18">
                        <input type="checkbox" value="1" data-bind="checked: KOWeekDay" />
                    </td>
                    <td width="56">星期一</td>
                    <td width="18">
                        <input type="checkbox" value="2" data-bind="checked: KOWeekDay" />
                    </td>
                    <td width="54">星期二</td>
                    <td width="18">
                        <input type="checkbox" value="3" data-bind="checked: KOWeekDay" />
                    </td>
                    <td width="53">星期三</td>
                    <td width="18">
                        <input type="checkbox" value="4" data-bind="checked: KOWeekDay" />
                    </td>
                    <td width="50">星期四</td>
                    <td width="18">
                        <input type="checkbox" value="5" data-bind="checked: KOWeekDay" />
                    </td>
                    <td width="48">星期五</td>
                    <td width="19">
                        <input type="checkbox" value="6" data-bind="checked: KOWeekDay" />
                    </td>
                    <td width="47">星期六</td>
                    <td width="19">
                        <input type="checkbox" value="7" data-bind="checked: KOWeekDay" />
                    </td>
                    <td width="104">星期七</td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td width="126" height="40" style="border: 0px;"></td>
        <td width="80" height="40" class="fontcolor4">上下班时间:</td>
        <td height="40">&nbsp;&nbsp;&nbsp;
            <input class="easyui-my97" style="width: 80px" data-options="dateFmt:'HH:mm'" data-bind="my97value: WorkOnLineTime" />
            <span data-bind="text: WorkOnLineTime"></span>
            -
            <input class="easyui-my97" style="width: 80px" data-options="dateFmt:'HH:mm'" data-bind="my97value: WorkUnLineTime" />
            <span data-bind="text: WorkUnLineTime"></span>
        </td>
    </tr>
    <tr class="linglei2">
        <td width="126" height="40" style="border: 0px;"></td>
        <td width="80" height="40" class="fontcolor4">业务处理时间:</td>
        <td height="40">&nbsp;&nbsp;&nbsp;
            <input class="easyui-my97" style="width: 80px" data-options="dateFmt:'HH:mm'" data-bind="my97value: ServiceOnLineTime" />
            <span data-bind="text: ServiceOnLineTime"></span>
            -
            <input class="easyui-my97" style="width: 80px" data-options="dateFmt:'HH:mm'" data-bind="my97value: ServiceUnLineTime" />
            <span data-bind="text: ServiceUnLineTime"></span>
        </td>
    </tr>

</script>
@section scripts{
    <script type="text/javascript" src="~/my97/WdatePicker.js"></script>
    <script src="~/easyui/jquery.my97.js"></script>
    <script src="~/Scripts/ProvinceCity.js"></script>
    <script type="text/javascript">

        $(function () {
            var DataModel=@(Html.Raw(ExpandTypeConvert.ToJson(Model)));
            var MineViewModel = {
                Model: ko.mapping.fromJS(DataModel),
                ModifyPwd: {
                    newPwd: ko.observable(),
                    onceNewPwd: ko.observable(),
                    smsCode: ko.observable()
                },
                Province: ko.observableArray(where),
                selectedProvince:ko.observable(),
                City:ko.observableArray(),
                AllAirCode:ko.observableArray(CarrayList),// ko.observableArray([{AirCode:'ALL',AirName:'ALL-所有航空公司'}]),
                Save: function () {
                    $('#BCenter').mask('正在保存数据...');
                    $.ajax({
                        url: '/Businessman/AddSupplier',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(ko.toJS(this.Model))
                    }).done(function () {
                        $('#BCenter').unmask()
                    }).fail(function (e) {
                        $('#BCenter').unmask();
                        window.parent.$.messager.alert('提示', e.responseText, 'info');
                    });
                },
                AddPid: function () {
                    this.Model.Pids.push({
                        IP: ko.observable(),
                        Port: ko.observable(),
                        Office: ko.observable()
                    })
                },
                AddCarrierSettings:function(){
                    this.Model.CarrierSettings.push({
                        CarrayCode: ko.observable(),
                        YDOffice: ko.observable(),
                        CPOffice: ko.observable(),
                        PrintNo:ko.observable()
                    })
                },
                RemovePid: function () {
                    MineViewModel.Model.Pids.remove(this);
                },
                RemoveCarrierSettings:function(){
                    MineViewModel.Model.CarrierSettings.remove(this);
                },
                Init: function () {
                    this.Model.NormalWork.KOWeekDay = ko.observableArray(this.Model.NormalWork.WeekDay().split(','));
                    this.Model.RestWork.KOWeekDay = ko.observableArray(this.Model.RestWork.WeekDay().split(','));

                    this.Model.NormalWork.KOWeekDay.subscribe(function (newValue) {
                        MineViewModel.Model.NormalWork.WeekDay(newValue.join(','));
                    });
                    this.Model.RestWork.KOWeekDay.subscribe(function (newValue) {
                        MineViewModel.Model.RestWork.WeekDay(newValue.join(','));
                    });
                   
                }
            }
            MineViewModel.Init();
            MineViewModel.selectedProvince.subscribe(function (newValue) {
                MineViewModel.City.removeAll();
                if (newValue != null && newValue != "") {
                    MineViewModel.Model.ContactWay.Province(newValue.loca);
                    $.each(newValue.locacity.split('|'), function () {
                        MineViewModel.City.push(this);
                    });
                }
            });
            ko.applyBindings(MineViewModel);
        });
    </script>
}


