<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ticket" providerName="System.Data.SqlClient" connectionString="Data Source=.;Initial Catalog=BTicket;Persist Security Info=True;User ID=sa;Password=123" />
    <!--<add name="ticket" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.2;Initial Catalog=BTicket;Persist Security Info=True;User ID=sa;Password=sa" />-->
    <!--<add name="ticket" providerName="System.Data.SqlClient" connectionString="Data Source=116.254.206.23,1436;Initial Catalog=BTicket;Persist Security Info=True;User ID=CashBag;Password=piaobao@123" />-->
    <!--<add name="ticket" providerName="System.Data.SqlClient" connectionString="Data Source=192.168.1.29;Initial Catalog=BTicket;Persist Security Info=True;User ID=sa;Password=pb@123" />-->
    <!--<add name="ticket" providerName="System.Data.SqlClient" connectionString="Data Source=210.14.138.25,1436;Initial Catalog=BTicket;Persist Security Info=True;User ID=pb_my;Password=pb_my@123" />-->
  </connectionStrings>
</configuration>