@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>错误</title>
</head>
<body>
    <h2>
        @Model
    </h2>
    <script type="text/javascript">
        window.parent.location.href="/Account/Login";
    </script>
</body>
</html>
