<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    <section name="jzfSection" type="JoveZhao.Framework.JZFConfigurationSection,JoveZhao.Framework" />
    <section name="platformSection" type="BPiaoBao.DomesticTicket.Platform.Plugin.PlatformConfigurationSection,BPiaoBao.DomesticTicket.Platform.Plugin" />
    <section name="settingSection" type="BPiaoBao.Common.SettingConfigurationSection,BPiaoBao.Common" />
    <section name="customerSection" type="BPiaoBao.Common.CustomerConfigurationSection,BPiaoBao.Common"/>
    <section name="insuranceSection" type="BPiaoBao.DomesticTicket.Domain.Services.Insurance.InsuranceConfigurationSection,BPiaoBao.DomesticTicket.Domain"/>
  </configSections>
  <connectionStrings>

    <!--<add name="system" providerName="System.Data.SqlClient" connectionString="Data Source=10.11.5.252;Initial Catalog=BPiaoBao;Persist Security Info=True;User ID=piaobao;Password=xyjr@123;MultipleActiveResultSets=true" />
    <add name="ticket" providerName="System.Data.SqlClient" connectionString="Data Source=10.11.5.252;Initial Catalog=BTicket;Persist Security Info=True;User ID=piaobao;Password=xyjr@123;MultipleActiveResultSets=true" />-->
    <add name="system" providerName="System.Data.SqlClient" connectionString="Data Source=10.11.3.241;Initial Catalog=BPiaoBao_T4;Persist Security Info=True;User ID=sa;Password=xyjr@123;MultipleActiveResultSets=true" />
    <add name="ticket" providerName="System.Data.SqlClient" connectionString="Data Source=10.11.3.241;Initial Catalog=BTicket_T4;Persist Security Info=True;User ID=sa;Password=xyjr@123;MultipleActiveResultSets=true" />
    <!--<add name="system" providerName="System.Data.SqlClient" connectionString="Data Source=210.14.138.29;Initial Catalog=BPiaoBao;Persist Security Info=True;User ID=sa;Password=xyjr@mpb.51cbc.cn;MultipleActiveResultSets=true" />
    <add name="ticket" providerName="System.Data.SqlClient" connectionString="Data Source=210.14.138.29;Initial Catalog=BTicket;Persist Security Info=True;User ID=sa;Password=xyjr@mpb.51cbc.cn;MultipleActiveResultSets=true" />-->
    <!--航班查询数据库-->
    <add name="FlightQuery" connectionString="Data Source=10.11.5.252;Initial Catalog=SPiaoBao;User ID=sa;Password=xyjr@123;MultipleActiveResultSets=true"/>
  </connectionStrings>
  <appSettings>
    <!--默认政策-->
    <add key="DefaultPolicy" value="2.5"/>
    <!--接口政策统一扣点-->
    <add key="PlatformDownPoint" value="0"/>
    <!--飞机起飞前几个小时的预定航班-->
    <add key="FlyAdvanceTime" value="1.5"/>
    <!--钱袋子费率-->
    <add key="MoneyRate" value="0.001"/>
    <!--默认现返-->
    <add key="DefaultReturnMoney" value="0"/>
    <!--PID所在IP-->
    <add key="ServerIP" value="210.14.138.30"/>
    <!--PID监听端口-->
    <add key="ServerPort" value="2237"/>
    <!--预订编码的配置Office号-->
    <add key="Office" value="CTU186"/>
    <!--0使用IBE接口查航班  1使用代理人配置查询航班-->
    <add key="useProxyQuery" value="0"/>
    <!--订单失效时间默认-->
    <add key="DeadLineTime" value="30"/>
    <!--创建作废行程单Office号-->
    <add key="CreateOffice" value="CTU324"/>
    <!--订单失效时间默认-->
    <add key="DeadLineTime" value="30"/>
    <add key="WebMsgUrl" value="http://localhost:6792/"/>

    <!--查航班缓存政策点数添加设置down下限 up上限 多条用“|”隔开 格式:政策来源(0接口缓存,1系统政策,2所有)^开始点数^结束点数^添加点数-->
    <add key="CachePolicySetting" value="0^0^5^0.5|0^5^10^1|0^10^20^1.5|0^20^100^2"/>
    <!--查航班获取接口缓存政策是否关闭 true关闭 false开启-->
    <add key="QueryFlightCachePolicyClose" value="false"/>
    <!--缓存政策天数 默认10天-->
    <add key="CachePolicyDay" value="10"/>
    <!--true缓存所有接口政策 false缓存最高的一条接口政策 -->
    <add key="IsGetAll" value="true"/>
    <!--QT true 为关闭 false 为开启-->
    <add key="qtClose" value="true"/>
    <!--true 为测试 false 为正式-->
    <add key="qtTest" value="true"/>
    <!--创建和作废行程单  true 为测试 false 为正式-->
    <add key="IsTripTest" value="true"/>
    <!--票盟接口地址Url-->
    <add key="baseurl" value="http://pomservice.piaomeng.net:6000/?"/>
    <!--票盟接口超时设置(秒)-->
    <add key="pmtimeout" value="60"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <jzfSection configSource="config\\jzf.config"></jzfSection>
  <platformSection configSource="config\\platform.config"></platformSection>
  <memcached configSource="config\\memcached.config"></memcached>
  <settingSection configSource="config\\setting.config"></settingSection>
  <customerSection configSource="config\\customerservice.config"></customerSection>
  <insuranceSection configSource="config\\insurance.config"></insuranceSection>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ExtAuthServiceBehavior" type="BPiaoBao.AppServices.ExtAuthServiceBehavior, BPiaoBao.AppServices" />
        <add name="ExtNotAuthServiceBehavior" type="BPiaoBao.AppServices.ExtNotAuthServiceBehavior, BPiaoBao.AppServices" />
        <add name="JsonSerialization" type="BPiaoBao.AppServices.EnableJsonFormatterBehaviorElement, BPiaoBao.AppServices"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="authServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <ExtAuthServiceBehavior />
        </behavior>
        <behavior name="notAuthServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
          <ExtNotAuthServiceBehavior />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="jsonBehavior">
          <JsonSerialization />
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="MaxHttpBind" sendTimeout="00:10:00" receiveTimeout="00:10:00"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647"/>
        </binding>
        <binding name="PTTime" sendTimeout="00:01:10" receiveTimeout="00:01:10"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647"/>
        </binding>
        <binding name="Service1Soap" />
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="MaxWebHttpBind" sendTimeout="00:10:00" receiveTimeout="00:10:00"  maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </webHttpBinding>
      <netTcpBinding>
        <binding name="ServerMessage">
          <security mode="None">
            <transport clientCredentialType="Windows" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="BPiaoBao.AppServices.DomesticTicket.PlatformRefundOrderService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/PlatformRefundOrderService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.StationContracts.DomesticTicket.IStationPlatformRefundOrderService" />
      </service>
      <service name="BPiaoBao.AppServices.LoginService" behaviorConfiguration="notAuthServiceBehavior">
        <endpoint  address="http://127.0.0.1:520/Services/LoginService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.Contracts.ILoginService" />
        <endpoint address="http://127.0.0.1:520/WebServices/LoginService" binding="webHttpBinding" contract="BPiaoBao.AppServices.Contracts.ILoginService" behaviorConfiguration="jsonBehavior" />
        <endpoint address="http://127.0.0.1:520/ConsoServices/LoginService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.ConsoContracts.SystemSetting.IConsoLoginService" />
      </service>
      <service name="BPiaoBao.AppServices.ServerMessages.PublisherService">
        <endpoint bindingConfiguration="ServerMessage"
                  address="net.tcp://127.0.0.1:521/Services/ServerMessages/PublisherService"
                  binding="netTcpBinding"
                  contract="BPiaoBao.AppServices.Contracts.ServerMessages.IPublisherService"/>
      </service>
      <service name="BPiaoBao.AppServices.SystemSetting.BusinessmanService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/SystemSetting/BusinessmanService" binding="basicHttpBinding"
                  contract="BPiaoBao.AppServices.Contracts.SystemSetting.IBusinessmanService" />
        <endpoint address="http://127.0.0.1:520/WebServices/SystemSetting/BusinessmanService" binding="webHttpBinding"
                  contract="BPiaoBao.AppServices.Contracts.SystemSetting.IBusinessmanService" behaviorConfiguration="jsonBehavior" />
        <endpoint address="http://127.0.0.1:520/StationServices/SystemSetting/BusinessmanService" binding="basicHttpBinding"
                  contract="BPiaoBao.AppServices.StationContracts.SystemSetting.IStationBusinessmanService" />

        <endpoint address="http://127.0.0.1:520/ConsoService/SystemSetting/BusinessmanService" binding="basicHttpBinding"
                  contract="BPiaoBao.AppServices.ConsoContracts.SystemSetting.IConsoBusinessmanService" />
        <endpoint address="http://127.0.0.1:520/ConsoService/SystemSetting/BusinessmanService" binding="basicHttpBinding"
                  contract="BPiaoBao.AppServices.ConsoContracts.SystemSetting.IConsoSMSService" />
      </service>
      <service name="BPiaoBao.AppServices.DomesticTicket.DeductionGroupService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Service/DomesticTicket/DeductionService" binding="basicHttpBinding"
                   contract="BPiaoBao.AppServices.ConsoContracts.DomesticTicket.IConsoDeductionGroupService" />
      </service>
      <service name="BPiaoBao.AppServices.DomesticTicket.OrderService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/DomesticTicket/OrderService" binding="basicHttpBinding"  bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IOrderService"/>
        <endpoint address="http://127.0.0.1:520/WebServices/DomesticTicket/OrderService" binding="webHttpBinding" bindingConfiguration="MaxWebHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IOrderService" behaviorConfiguration="jsonBehavior" />
        <endpoint address="http://127.0.0.1:520/StationServices/DomesticTicket/OrderService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.StationContracts.DomesticTicket.IStationOrderService"/>
        <endpoint address="http://127.0.0.1:520/ConsoService/DomesticTicket/OrderService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.ConsoContracts.DomesticTicket.IConsoOrderService"/>
      </service>
      <service name="BPiaoBao.AppServices.DomesticTicket.FlightDestineService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/DomesticTicket/FlightDestineService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IFlightDestineService" />
        <endpoint address="http://127.0.0.1:520/WebServices/DomesticTicket/FlightDestineService" binding="webHttpBinding" bindingConfiguration="MaxWebHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IFlightDestineService" behaviorConfiguration="jsonBehavior"/>
      </service>

      <service name="BPiaoBao.AppServices.DomesticTicket.RiskControlService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/DomesticTicket/RiskControlService" binding="basicHttpBinding"
                  contract="Cashbag.Integrated.IRiskControl" />
      </service>
      <service name="BPiaoBao.AppServices.Cashbag.AccountService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/Cashbag/AccountService" binding="basicHttpBinding"
                  contract="BPiaoBao.AppServices.Contracts.Cashbag.IAccountService" />
        <endpoint address="http://127.0.0.1:520/WebServices/Cashbag/AccountService" binding="webHttpBinding"
                          contract="BPiaoBao.AppServices.Contracts.Cashbag.IAccountService" behaviorConfiguration="jsonBehavior"/>
      </service>

      <service name="BPiaoBao.AppServices.Cashbag.FundService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/Cashbag/FundService" binding="basicHttpBinding"
                  contract="BPiaoBao.AppServices.Contracts.Cashbag.IFundService" />
        <endpoint address="http://127.0.0.1:520/WebServices/Cashbag/FundService" binding="webHttpBinding"
                  contract="BPiaoBao.AppServices.Contracts.Cashbag.IFundService" behaviorConfiguration="jsonBehavior"/>
      </service>

      <service name="BPiaoBao.AppServices.Cashbag.FinancialService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/Cashbag/FinancialService" binding="basicHttpBinding"
                  contract="BPiaoBao.AppServices.Contracts.Cashbag.IFinancialService" />
        <endpoint address="http://127.0.0.1:520/WebServices/Cashbag/FinancialService" binding="webHttpBinding"
                  contract="BPiaoBao.AppServices.Contracts.Cashbag.IFinancialService" behaviorConfiguration="jsonBehavior"/>
      </service>

      <service name="BPiaoBao.AppServices.TPos.TPosService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/TPos/TPosService" binding="basicHttpBinding"
                  contract="BPiaoBao.AppServices.Contracts.TPos.ITPosService" />
        <endpoint address="http://127.0.0.1:520/WebServices/TPos/TPosService" binding="webHttpBinding"
                  contract="BPiaoBao.AppServices.Contracts.TPos.ITPosService" behaviorConfiguration="jsonBehavior"/>
      </service>

      <service name="BPiaoBao.AppServices.DomesticTicket.TravelPaperService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/DomesticTicket/TravelPaperService" binding="basicHttpBinding"  bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.ITravelPaperService"/>
        <endpoint address="http://127.0.0.1:520/WebServices/DomesticTicket/TravelPaperService" binding="webHttpBinding" bindingConfiguration="MaxWebHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.ITravelPaperService" behaviorConfiguration="jsonBehavior"/>
      </service>

      <service name="BPiaoBao.AppServices.DomesticTicket.PidService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/DomesticTicket/PidService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IPidService"/>
        <endpoint address="http://127.0.0.1:520/WebServices/DomesticTicket/PidService" binding="webHttpBinding" bindingConfiguration="MaxWebHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IPidService" behaviorConfiguration="jsonBehavior"/>
      </service>

      <service name="BPiaoBao.AppServices.DomesticTicket.PlatformCfgService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/DomesticTicket/PlatformCfgService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.StationContracts.DomesticTicket.IStationPlatformCfgService"/>
      </service>


      <service name="BPiaoBao.AppServices.DomesticTicket.MemoryService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/DomesticTicket/MemoryService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.StationContracts.DomesticTicket.IMemoryService"/>
      </service>

      <service name="BPiaoBao.AppServices.SystemSetting.BehaviorStatService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/SystemSetting/BehaviorStatService" binding="basicHttpBinding"
                  contract="BPiaoBao.AppServices.Contracts.SystemSetting.IBehaviorStatService" />
        <endpoint address="http://127.0.0.1:520/WebServices/SystemSetting/BehaviorStatService" binding="webHttpBinding"
                  contract="BPiaoBao.AppServices.Contracts.SystemSetting.IBehaviorStatService" behaviorConfiguration="jsonBehavior"/>
        <endpoint address="http://127.0.0.1:520/StationServices/SystemSetting/BehaviorStatService" binding="basicHttpBinding"
                  contract="BPiaoBao.AppServices.StationContracts.SystemSetting.IStationBehaviorStatService"/>
      </service>

      <service name="BPiaoBao.AppServices.DomesticTicket.FrePasserService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/DomesticTicket/FrePasserService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IFrePasserService" />
        <endpoint address="http://127.0.0.1:520/WebServices/DomesticTicket/FrePasserService" binding="webHttpBinding"  bindingConfiguration="MaxWebHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IFrePasserService" behaviorConfiguration="jsonBehavior"/>
      </service>
      <service name="BPiaoBao.AppServices.DomesticTicket.ConsoLocalPolicyService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/DomesticTicket/ConsoLocalPolicyService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.ConsoContracts.DomesticTicket.IConsoLocalPolicyService"/>
      </service>

      <service name="BPiaoBao.AppServices.DomesticTicket.InsuranceService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/DomesticTicket/InsuranceService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IInsuranceService" />
        <endpoint address="http://127.0.0.1:520/WebServices/DomesticTicket/InsuranceService" binding="webHttpBinding"  bindingConfiguration="MaxWebHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IInsuranceService" behaviorConfiguration="jsonBehavior"/>
      </service>

      <service name="BPiaoBao.AppServices.SystemSetting.NoticeService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/SystemSetting/NoticeService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.SystemSetting.INoticeService" />
        <endpoint address="http://127.0.0.1:520/WebServices/SystemSetting/NoticeService" binding="webHttpBinding"  bindingConfiguration="MaxWebHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.SystemSetting.INoticeService" behaviorConfiguration="jsonBehavior" />
        <endpoint address="http://127.0.0.1:520/StationServices/SystemSetting/NoticeService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.StationContracts.SystemSetting.IStationNoticeService" />
        <endpoint address="http://127.0.0.1:520/ConsoService/SystemSetting/NoticeService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.ConsoContracts.SystemSetting.IConsoNoticeService" />
      </service>

      <service name="BPiaoBao.AppServices.SystemSetting.DateTimeService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/SystemSetting/DateTimeService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.SystemSetting.IDateTimeService" />
        <endpoint address="http://127.0.0.1:520/WebServices/SystemSetting/DateTimeService" binding="webHttpBinding"  bindingConfiguration="MaxWebHttpBind"
                   contract="BPiaoBao.AppServices.Contracts.SystemSetting.IDateTimeService" behaviorConfiguration="jsonBehavior"/>
      </service>

      <service name="BPiaoBao.AppServices.SystemSetting.MyMessageService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/SystemSetting/MyMessageService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.SystemSetting.IMyMessageService" />
        <endpoint address="http://127.0.0.1:520/WebServices/SystemSetting/MyMessageService" binding="webHttpBinding"  bindingConfiguration="MaxWebHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.SystemSetting.IMyMessageService" behaviorConfiguration="jsonBehavior" />
      </service>
      <service name="BPiaoBao.AppServices.DomesticTicket.PlatformPointGroupService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/DomesticTicket/PlatformPointGroupService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.StationContracts.DomesticTicket.IStationPlatformPointGroupService" />
      </service>

      <service name="BPiaoBao.AppServices.SystemSetting.OperationLogService" behaviorConfiguration="authServiceBehavior">
        <endpoint address="http://127.0.0.1:520/Services/SystemSetting/OperationLogService" binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.SystemSetting.IOperationLogService" />
        <endpoint address="http://127.0.0.1:520/WebServices/SystemSetting/OperationLogService" binding="webHttpBinding"  bindingConfiguration="MaxWebHttpBind"
                  contract="BPiaoBao.AppServices.Contracts.SystemSetting.IOperationLogService" behaviorConfiguration="jsonBehavior" />
      </service>
    </services>
    <client>
      <endpoint address="http://gateway.woxp.cn:6630/utf8/ws_api/WebSMS.asmx"
          binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
          contract="SMSService.WebSMSSoap" name="WebSMSSoap" />
      <endpoint address="http://210.14.138.30:4032/WebService1.asmx"
               binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
               contract="IBEService.WebService1Soap" name="WebService1Soap" />
      <endpoint address="http://10.11.5.251:991/PidService.asmx"
               binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
               contract="PidService.PidServiceSoap" name="PidServiceSoap" />
      <endpoint address="http://10.11.5.250:8001/Service1.asmx" binding="basicHttpBinding"
              bindingConfiguration="Service1Soap" contract="SMSService.Service1Soap"
              name="Service1Soap" />
      <endpoint address="http://182.131.21.77/OutAPI/JtywInsService.asmx"
               binding="basicHttpBinding" bindingConfiguration="MaxHttpBind"
               contract="ZKInsurance.JtywInsServiceSoap" name="JtywInsServiceSoap" />



      <endpoint address="http://210.14.138.30:1000/Test/PTService.asmx"
            binding="basicHttpBinding" bindingConfiguration="PTTime"
            contract="_PTService.PTServiceSoap" name="PTServiceSoap" />

      <endpoint address="http://210.14.138.26:115/517WebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PTTime"
                contract="web517._517WebServiceSoap" name="_517WebServiceSoap" />
      <endpoint address="http://210.14.138.26:113/51bookService.asmx"
               binding="basicHttpBinding" bindingConfiguration="PTTime"
               contract="web51book._51bookServiceSoap" name="_51bookServiceSoap" />
      <endpoint address="http://210.14.138.26:117/W8000YService.asmx"
               binding="basicHttpBinding" bindingConfiguration="PTTime"
               contract="web8000yi.W8000YServiceSoap" name="W8000YServiceSoap" />
      <endpoint address="http://210.14.138.26:114/BaiTuoWeb.asmx" binding="basicHttpBinding"
               bindingConfiguration="PTTime" contract="webbaituo.BaiTuoWebSoap"
               name="BaiTuoWebSoap" />
      <endpoint address="http://210.14.138.26:118/WTodayService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PTTime"
                contract="webtoday.WTodayServiceSoap" name="WTodayServiceSoap" />
      <endpoint address="http://210.14.138.26:116/PMService.asmx" binding="basicHttpBinding"
               bindingConfiguration="PTTime" contract="webpm.PMServiceSoap"
               name="PMServiceSoap" />
      <endpoint address="http://210.14.138.26:120/YeeXingSerivce.asmx"
          binding="basicHttpBinding" bindingConfiguration="PTTime"
          contract="webyeexing.YeeXingSerivceSoap" name="YeeXingSerivceSoap" />


      <endpoint address="http://pb.jk.517na.com/BenefitInterface.asmx"
               binding="basicHttpBinding" bindingConfiguration="PTTime"
               contract="_517Policy.BenefitInterfaceSoap" name="BenefitInterfaceSoap" />
      <endpoint address="http://ite5.baitour.com/CoManage/AirWsCoManage.asmx"
                binding="basicHttpBinding" bindingConfiguration="PTTime"
                contract="_baiTuoPolicy.AirWsCoManageSoap" name="AirWsCoManageSoap" />

      <!--今日服务-->
      <endpoint address="http://ws.jinri.cn/JinRiRateServer.asmx"  bindingConfiguration="PTTime"
                contract="webTodayPolicy.JinRiRateServerSoap" binding="basicHttpBinding"
               name="JinRiRateServerSoap" />
      <endpoint address="http://ws.jinri.cn/JinRiOrderServer.asmx"
          binding="basicHttpBinding" bindingConfiguration="PTTime"
          contract="webTodayOrder.JinRiOrderServerSoap" name="JinRiOrderServerSoap" />
      <endpoint address="http://ws.jinri.cn/JinRiAutoPayServer.asmx"
          binding="basicHttpBinding" bindingConfiguration="PTTime"
          contract="webTodayAutoPay.JinRiAutoPayServerSoap"
                name="JinRiAutoPayServerSoap" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>