<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="Service1Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://10.11.5.250:8001/Service1.asmx" binding="basicHttpBinding"
                bindingConfiguration="Service1Soap" contract="SMSService.Service1Soap"
                name="Service1Soap" />
            <endpoint address="http://10.11.5.250:8001/Service1.asmx" binding="customBinding"
                bindingConfiguration="Service1Soap12" contract="SMSService.Service1Soap"
                name="Service1Soap12" />
        </client>
    </system.serviceModel>
</configuration>