<?xml version="1.0" encoding="utf-8" ?>
<insuranceSection>

  <!--控台保险设置-->
  <ctrlinsurance isenabled="true"  singleprice="2.00">
    <!--<insurance iscurrent="false" value="中科" leavecount="5000"/>-->
    <insurance iscurrent="true" value="中国太平" leavecount="4000"/>
  </ctrlinsurance>

  <!--急速退-->
  <insurancerefund isenabled="true" singleprice="1.00"/>


  <!--保险外部接口配置-->
  <insurance_platform_config>
    
    <!--中科保险验证信息-->
    <Insurance_ZK username="scxyadmin" password="123456" productcode="YSHKYWXJH2"/>

    <!--测试接口 太平人寿保险 jsbf(结算保费，以分为单位)
    <Insurance_TPRS dlbh="TPL104" tbbxddh="1040" key="230bfa3c85c4713c718994f6e32e1lth" jsbf="170" url="http://58.246.136.51/eservice/gp/servlet/PublicGpBatchOnlineServlet"/>
    -->
  
    <!--正式接口 太平人寿保险 jsbf(结算保费，以分为单位)-->
    <Insurance_TPRS dlbh="TPL104" tbbxddh="4000" key="k89ddi7385c471u911899483h324xyjr" jsbf="170" url="http://tppension.cntaiping.com/eservice/gp/servlet/PublicGpBatchOnlineServlet"/>

  </insurance_platform_config>

</insuranceSection>