<?xml version="1.0" encoding="utf-8" ?>
<platformSection>
  <platforms>
    <platform name="517" showcount="10" issueSpeed="5分钟" isClosed="false"
      paidIsTest="false" b2bClose="ALL">
      <areas defaultCity="ctu">
        <area city="ctu">
          <parameters>
            <parameter name="_517Accout" value="kjtadmin" description="517接口账号" />
            <parameter name="_517Password" value="mypb2013" description="517接口账号密码" />
            <parameter name="_517Ag" value="3ec367a33bd448d7a8817d2b243c64ae"
              description="517获取政策密钥" />
            <parameter name="_PayAccout517" value="" description="517支付账号" />
            <parameter name="_PayPassword517" value="" description="517支付密码" />
            <parameter name="_PayWay" value="0" description="默认0支付宝 1预存款支付 其他:平台绑定的默认支付方式" />
            <parameter name="_NotifyUrl" value="http://buy.mypb.cn:82/Platform/ctu"
              description="517支付通知地址" />
            <parameter name="_LinkMan" value="" description="生成订单联系人" />
            <parameter name="_LinkManPhone" value="" description="生成订单联系人电话" />
            <parameter name="_IsChangePNRCP" value="1" description="换编码出票:1是 0否(默认0)" />
            <parameter name="_IsLowerPrice" value="0" description="PAT多个价格:1取低价格 0默认取高价格" />
          </parameters>
        </area>
      </areas>
    </platform>
    <platform name="51Book" showcount="5" issueSpeed="5分钟" isClosed="true"
      paidIsTest="false">
      <areas defaultCity="ctu">
        <area city="ctu">
          <parameters>
            <parameter name="_51bookAccout" value="kjtadmin" description="51Book接口账号" />
            <parameter name="_51bookPassword" value="1111" description="51Book接口账号密码" />
            <parameter name="_51bookAg" value="^R#6!FeR" description="51Book获取政策密钥" />
            <parameter name="_PayWay" value="0" description="默认0支付宝" />
            <parameter name="_IsChangePNRCP" value="0" description="换编码出票:1是 0否(默认0)" />
            <parameter name="_IsLowerPrice" value="0" description="PAT多个价格:1取低价格 0默认取高价格" />
            <parameter name="_NotifyUrl" value="http://buy.mypb.cn:85/Platform/ctu"
              description="51Book通知地址" />
            <parameter name="_b2cCreatorCn" value="票宝" description="51Book合作商名称" />
            <parameter name="_statusType" value="1" description="1.订单采购状态,2.订单供应状态" />
          </parameters>
        </area>
      </areas>
    </platform>
    <platform name="8000YI" showcount="5" issueSpeed="5分钟" isClosed="true"
      paidIsTest="false" b2bClose="" bspClose="">
      <areas defaultCity="ctu">
        <area city="ctu">
          <parameters>
            <parameter name="_8000yiAccout" value="kjtadmin" description="8000YI接口账号" />
            <parameter name="_8000yiPassword" value="kjtadmin" description="8000YI接口账号密码" />
            <parameter name="_AlipayAccount8000yi" value="pbpay@mypb.cn"
              description="8000YI代扣支付宝账号" />
            <parameter name="_IsLowerPrice" value="0" description="PAT多个价格:1取低价格 0默认取高价格" />
            <parameter name="_IsChangePNRCP" value="1" description="是否换编码出票" />
            <parameter name="_PayWay" value="0" description="默认支付宝" />
          </parameters>
        </area>
      </areas>
    </platform>
    <platform name="BaiTuo" showcount="5" issueSpeed="5分钟" isClosed="true"
      paidIsTest="false" b2bClose="MU">
      <areas defaultCity="ctu">
        <area city="ctu">
          <parameters>
            <parameter name="_baiTuoAccout" value="kjtadmin" description="BaiTuo接口账号" />
            <parameter name="_baiTuoPassword" value="kjtadmin" description="BaiTuo接口账号密码" />
            <parameter name="_baiTuoAg" value="B2B_070816" description="BaiTuo接口密钥" />
            <parameter name="_PayWay" value="4" description="代付支付方式:1，支付宝；2，快钱 3,支付宝(新接口)；4，财付通,  默认填1" />
            <parameter name="_NotifyUrl" value="http://buy.mypb.cn:85/Platform/ctu"
              description="BaiTuo支付通知地址" />
            <parameter name="_IsLowerPrice" value="0" description="PAT多个价格:1取低价格 0默认取高价格" />
            <parameter name="_IsChangePNRCP" value="1" description="换编码出票:1是 0否(默认0)" />
            <parameter name="_LinkMan" value="" description="百拓接口联系人" />
            <parameter name="_LinkManPhone" value="" description="百拓接口联系人电话" />
          </parameters>
        </area>
      </areas>
    </platform>
    <platform name="PiaoMeng" showcount="5" issueSpeed="5分钟" isClosed="false"
      paidIsTest="false" b2bClose="MU">
      <areas defaultCity="ctu">
        <area city="ctu">
          <parameters>
            <parameter name="_pmAccout" value="kjtadmin" description="票盟接口账号" />
            <parameter name="_pmPassword" value="823818" description="票盟接口账号密码" />
            <parameter name="_pmAg" value="38bde367-10fc-4acc-a987-45f45993c64c"
              description="票盟接口密钥" />
            <parameter name="_PayWay" value="0" description="支付宝" />
            <parameter name="_IsLowerPrice" value="0" description="PAT多个价格:1取低价格 0默认取高价格" />
            <parameter name="_IsChangePNRCP" value="1" description="换编码出票:1是 0否(默认0)" />
          </parameters>
        </area>
      </areas>
    </platform>
    <platform name="Today"   issueSpeed="5分钟" showcount="5" isClosed="false" b2bClose="" bspClose="">
      <areas defaultCity="ctu">
        <area city="ctu">
          <parameters>
            <parameter name="_todayAccout" value="kjtadmin" description="今日接口主账号"  />
            <parameter name="_todayAccout2" value="kjtadmin01" description="今日接口子账号"  />
            <parameter name="_JinriGYCode" value="" description="今日供应商代码"  />
            <parameter name="_privateKey" value="a7019c128d73437ca74f6c3766c87f10" description="今日安全校验码"  />
            <parameter name="_PayWay" value="0" description="代付方式 0.支付宝,1.块钱,2财付通"  />
            <parameter name="_IsLowerPrice" value="0" description="PAT多个价格:1取低价格 0默认取高价格"  />
          </parameters>
        </area>
      </areas>
    </platform>
    <platform name="YeeXing" showcount="5" issueSpeed="5分钟" isClosed="true"
      paidIsTest="false" b2bClose="" bspClose="">
      <areas defaultCity="ctu">
        <area city="ctu">
          <parameters>
            <parameter name="_yeeXingAccout" value="" description="易行接口主账号" />
            <parameter name="_yeeXingAccout2" value="" description="易行接口子账号" />
            <parameter name="_yeeXingNotifyUrl" value="" description="通知地址" />
            <parameter name="_IsLowerPrice" value="0" description="PAT多个价格:1取低价格 0默认取高价格" />
            <parameter name="_IsChangePNRCP" value="0" description="换编码出票:1是 0否(默认0)" />
            <parameter name="_PayWay" value="1" description="代付的支付方式(1—支付宝（默认） 2—汇付)" />
            <parameter name="_privateKey" value="dfyfet$yfdrgr" description="易行参数加密私钥" />
            <parameter name="_cancel_notify_url" value="http://buy.mypb.cn:85/Platform/ctu"
              description="易行取消订单通知地址" />
          </parameters>
        </area>
      </areas>
    </platform>
  </platforms>
</platformSection>