<?xml version="1.0" encoding="utf-8" ?>
<settingSection>
  <httpServer host="127.0.0.1" port="82"></httpServer>
  <payment ticketNotify="http://127.0.0.1:82/ReturnPay" smsNotify="http://127.0.0.1:82/SmsPay" saleNotify="http://127.0.0.1:82/SaleNotify"></payment>
  <cashbag baseUrl="http://10.11.3.241:889/api/" notifyCode="" defaultPlatformDownPoint="0.0" flyAdvanceTime="1.5" partnerKey="D722137BB41D4713946B406F430317F3" cashbagCode="0000000001" cashbagKey="1439e30938174d75a2360e4e3d3c6094">
  </cashbag>
  <autoIssue  alipayAutoCPUrl="http://210.14.138.26:6350/alidz.do" alipayTicketNotifyUrl="http://127.0.0.1:82/AutoIssueNotify"  alipayPayNotifyUrl="http://127.0.0.1:82/AutoIssueNotify"></autoIssue>
  <sms smsPrice="0.1"></sms>

</settingSection>
