<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <script src="../Scripts/knockout-3.1.0.js"></script>
    <script src="../Scripts/jquery-1.9.0.js"></script>
    <script src="../Scripts/jquery.validate.js"></script>
</head>
<body>
    
    <input type="button" id="add" data-bind="click: AddClick" value="添加" />
    <form id="CheckForm">
        <div data-bind="foreach: List">
            <div>
                姓名:<input type="text" class="required" data-bind="value: Name, uniqueName: true" />
            </div>
            <div>
                年龄:<input type="text" class="required" data-bind="value: Age, uniqueName: true" />
            </div>
            <input type="button" data-bind="click: $parent.RemoveClick" value="删除" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
    <script type="text/javascript">
        var viewModel = function () {
            var self = this;
            self.List = ko.observableArray([{
                Name: ko.observable(),
                Age: ko.observable()
            }]);
            self.AddClick = function () {
                self.List.push({
                    Name: ko.observable(),
                    Age: ko.observable()
                })
            };
            self.RemoveClick = function () {
                self.List.remove(this);
            }
        };
        ko.applyBindings(new viewModel());
        $('#CheckForm').validate({
            submitHandler: function () {
                alert('aa')
            }
        })
    </script>
</body>
</html>
