<?xml version="1.0" encoding="utf-8" ?>
<App>
  <Module Code="10" Name="国内机票" Icon="ticket" Share="0">
    <Menus Code="1002" Name="订单查询" Share="0">
      <Menu Code="100201" Name="订单综合查询" Url="/TicketOrder/FindAllOrder" Share="0"/>
      <Menu Code="100202" Name="售后订单查询" Url="/TicketOrder/FindAllSaleOrder" Share="0"/>
      <Menu Code="100203" Name="待处理订单" Url="/TicketOrder/OrderIndex" Share="0"/>
      <Menu Code="100204" Name="售后订单处理" Url="/TicketOrder/SaleOrderIndex" Share="0"/>
    </Menus>
    <Menus Code="1003" Name="行程单管理" Share="1">
      <Menu Code="100301" Name="分配记录" Url="/TravelPaper/TravelPaperGrantRecord" Share="1"/>
      <Menu Code="100302" Name="商户分类查询" Url="/TravelPaper/FindTravelPaper" Share="1"/>
      <Menu Code="100303" Name="空白行程单管理" Url="/TravelPaper/TravelPaper1" Share="1"/>
      <Menu Code="100304" Name="行程单综合查询" Url="/TravelPaper/TravelPaper2" Share="1"/>
    </Menus>
    <Menus Code="1004" Name="报表管理" Share="0">
      <Menu Code="100401" Name="机票总表" Url="/TicketSum/TicketSumTable" Share="1"/>
    <Menu Code="100402" Name="机票总表" Url="/TicketSum/TicketSumTableSupplier" Share="2"/>
      <Menu Code="100403" Name="采购出票统计" Url="/TicketSum/TicketCountOfBuyer" Share="1"/>
    </Menus>
    <Menus Code="1005" Name="政策管理" Share="0">
      <Menu Code="100501" Name="普通政策" Url="/Policy/Index" Share="0"/>
      <Menu Code="100502" Name="政策对比" Url="/Policy/RedujstIndex" Share="0"/>
      <Menu Code="100504" Name="导入政策" Url="/Policy/ImportPolicy" Share="0"/>
      <Menu Code="100504" Name="特价政策" Url="/Policy/SpeciaIndex" Share="0"/>
      <Menu Code="100503" Name="默认政策" Url="/Businessman/SetDefaultPolicy" Share="1"/>
    </Menus>
  </Module>

  <Module Code="20" Name="下级管理" Icon="businessman" Share="1">
    <Menus Code="2001" Name="采购商管理" Share="1">
      <Menu Code="200101" Name="商户管理" Url="/Businessman/BuyerIndex" Share="1"/>
      <Menu Code="200105" Name="扣点组管理" Url="/Deduction/Index" Share="1"/>
      <Menu Code="200106" Name="用户行为" Url="/BehaviorStat/Index" Share="1"/>
    </Menus>
    <Menus Code="2002" Name="供应商管理" Share="1">
      <Menu Code="200201" Name="供应商管理" Url="/Businessman/SupplierIndex" Share="1"/>
    </Menus>
  </Module>

  <Module Code="30" Name="金融管理" Icon="account" Share="0">
    <Menus Code="3001" Name="账户管理" Share="0">
      <Menu Code="300101" Name="银行卡管理" Url="/BankCard/Index" Share="0"/>
      <Menu Code="300102" Name="现金账户" Url="/Cash/Index" Share="0"/>
      <Menu Code="300103" Name="理财账户" Url="/Financial/Index" Share="0"/>
      <Menu Code="300104" Name="积分账户" Url="/Integral/Index" Share="0"/>
    </Menus>
    <Menus Code="3002" Name="理财管理" Share="0">
      <Menu Code="300201" Name="理财产品" Url="/FinancialProduct/Index" Share="0"/>
      <Menu Code="300202" Name="理财记录" Url="/Financial/FinancialLogIndex" Share="0"/>
    </Menus>
  </Module>

  <Module Code="40" Name="系统设置" Icon="systemsetting" Share="0">
    <Menus Code="4001" Name="公司管理" Share="0">
      <Menu Code="400101" Name="员工管理" Url="/Businessman/OperatorIndex" Share="0"/>
      <Menu Code="400102" Name="商户中心" Url="/Businessman/CarrierIndex" Share="0"/>
      <Menu Code="400103" Name="角色管理" Url="/Businessman/RoleIndex" Share="0"/>
    </Menus>
    <Menus Code="4002" Name="保险管理" Share="1">
      <Menu Code="400201" Name="保险设置" Url="/Insurance/SetIndex" Share="1"/>
      <Menu Code="400202" Name="保单查询" Url="/Insurance/QueryIndex" Share="1"/>
    </Menus>
    <Menus Code="4003" Name="自动出票设置" Share="0">
      <Menu Code="400301" Name="自动出票设置"  Url="/Businessman/AutoTicketSet" Share="0"/>
    </Menus>
    <Menus Code="4004" Name="公告管理" Share="0">
      <Menu Code="400401" Name="公告发布" Url="/Notice/NoticeIndex" Share="1"></Menu>
      <Menu Code="400402" Name="公告列表" Url="/Notice/NoticeList" Share="0"></Menu>
    </Menus>
    <Menus Code="4005" Name="航变管理" Share="0">
      <Menu Code="400501" Name="航变设置" Url="/AirChang/SetAriChangIndex" Share="0"></Menu>
      <Menu Code="400502" Name="航变查询" Url="/AirChang/AriChangIndex" Share="0"></Menu>
    </Menus>
    <Menus Code="4006" Name="客服中心" Share="0">
      <Menu Code="400601" Name="客服中心" Url="/Businessman/SetCustomerInfoIndex" Share="0"></Menu>
    </Menus>
  </Module>

  <Module Code="50" Name="短信" Icon="sms" Share="1">
    <Menus Code="5001" Name="短信管理" Share="1">
      <Menu Code="500100" Name="短信设置" Url="/SMS/SmsIndex" Share="1"/>
      <Menu Code="500101" Name="模板管理" Url="/SMS/SmsTemplateList" Share="1"/>
      <Menu Code="500102" Name="短信赠送" Url="/SMS/GiveDetailList" Share="1"/>
      <Menu Code="500103" Name="充值记录" Url="/SMS/BuyDetailList" Share="1"/>
      <Menu Code="500104" Name="发送记录" Url="/SMS/SendDetailList" Share="1"/>
      <Menu Code="500105" Name="短信发送" Url="/SMS/SMSSend" Share="1"/>
    </Menus>
  </Module>
</App>