<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-BPiaoBao.Web.SupplierManager-20140412202919;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-BPiaoBao.Web.SupplierManager-20140412202919.mdf" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="2147483644" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="2147483644" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--
    有关 .NET 4.5 的 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--<profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>-->
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <!--
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>-->
    <customErrors mode="Off" />
  </system.web>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="ClientInterpector" type="BPiaoBao.Web.SupplierManager.Controllers.Helpers.ExtClientBehavior, BPiaoBao.Web.SupplierManager" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="clientBehavior">
          <ClientInterpector />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="MaxHttpBind" sendTimeout="00:10:00" receiveTimeout="00:10:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="IConsoBusinessmanService" address="http://127.0.0.1:520/ConsoService/SystemSetting/BusinessmanService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.ConsoContracts.SystemSetting.IConsoBusinessmanService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IConsoLoginService" address="http://127.0.0.1:520/ConsoServices/LoginService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.ConsoContracts.SystemSetting.IConsoLoginService" />
      <endpoint name="IConsoSMSService" address="http://127.0.0.1:520/ConsoService/SystemSetting/BusinessmanService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.ConsoContracts.SystemSetting.IConsoSMSService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IAccountService" address="http://127.0.0.1:520/Services/Cashbag/AccountService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.Contracts.Cashbag.IAccountService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IFinancialService" address="http://127.0.0.1:520/Services/Cashbag/FinancialService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.Contracts.Cashbag.IFinancialService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IFundService" address="http://127.0.0.1:520/Services/Cashbag/FundService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.Contracts.Cashbag.IFundService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IConsoDeductionGroupService" address="http://127.0.0.1:520/Service/DomesticTicket/DeductionService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.ConsoContracts.DomesticTicket.IConsoDeductionGroupService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="ITravelPaperService" address="http://127.0.0.1:520/Services/DomesticTicket/TravelPaperService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.Contracts.DomesticTicket.ITravelPaperService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IPidService" address="http://127.0.0.1:520/Services/DomesticTicket/PidService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IPidService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IBehaviorStatService" address="http://127.0.0.1:520/Services/SystemSetting/BehaviorStatService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.Contracts.SystemSetting.IBehaviorStatService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IStationOrderService" address="http://127.0.0.1:520/StationServices/DomesticTicket/OrderService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.StationContracts.DomesticTicket.IStationOrderService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IConsoOrderService" address="http://127.0.0.1:520/ConsoService/DomesticTicket/OrderService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.ConsoContracts.DomesticTicket.IConsoOrderService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IConsoLocalPolicyService" address="http://127.0.0.1:520/Services/DomesticTicket/ConsoLocalPolicyService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.ConsoContracts.DomesticTicket.IConsoLocalPolicyService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IInsuranceService" address="http://127.0.0.1:520/Services/DomesticTicket/InsuranceService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IInsuranceService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind" />
      <endpoint name="IConsoNoticeService" address="http://127.0.0.1:520/ConsoService/SystemSetting/NoticeService" binding="basicHttpBinding" contract="BPiaoBao.AppServices.ConsoContracts.SystemSetting.IConsoNoticeService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind"/>
      <endpoint name="IMemoryService" address="http://127.0.0.1:520/Services/DomesticTicket/MemoryService" binding="basicHttpBinding"  contract="BPiaoBao.AppServices.StationContracts.DomesticTicket.IMemoryService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind"/>
      <endpoint name="IOrderService" address="http://127.0.0.1:520/Services/DomesticTicket/OrderService" binding="basicHttpBinding"  contract="BPiaoBao.AppServices.Contracts.DomesticTicket.IOrderService" behaviorConfiguration="clientBehavior" bindingConfiguration="MaxHttpBind"/>
    </client>
  </system.serviceModel>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>