<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebService1Soap" />
                <binding name="PidServiceSoap" />
                <binding name="JtywInsServiceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="JtywInsServiceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://210.14.138.30:4032/WebService1.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
                contract="IBEService.WebService1Soap" name="WebService1Soap" />
            <endpoint address="http://210.14.138.30:991/PidService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PidServiceSoap"
                contract="PidService.PidServiceSoap" name="PidServiceSoap" />
            <endpoint address="http://182.131.21.77/OutAPI/JtywInsService.asmx"
                binding="basicHttpBinding" bindingConfiguration="JtywInsServiceSoap"
                contract="ZKInsurance.JtywInsServiceSoap" name="JtywInsServiceSoap" /> 
        </client>
    </system.serviceModel>
</configuration>